html,body{background:#e3e4e5;height: 100%;margin:0;}

#container{padding-left: 0;-webkit-transition: all 0.7s ease;-moz-transition: all 0.7s ease;-o-transition: all 0.7s ease;transition: all 0.7s ease;
margin-left:40px;margin-top:0px;z-index:5000;height:100vh;padding-top:40px;}

#container.toggled{padding-left: 100px;}

#container.toggled #page{position: absolute;margin-right: -240px;}

.topmn{position:fixed;width:100%;height:40px;background: #00578D;top:0;left:0;z-index:6000;}
.mn-icn{top:40px;z-index: 1000;position: fixed;width:40px;height: 100%;background: #222;}
.section-mn-icn{border-bottom:1px solid #333;width:100%;height:40px;color:#fff;}
.mn-dscr{top:40px;z-index: 1000;position: fixed;width:100px;height:100%;background: #222;left:40px;}
.section-mn-lft{border-bottom:1px solid #333;width:100%;height:40px;color:#fff;padding-top:10px;}

@media(min-width:300px){#page{height:100%;padding:20px;position:relative;z-index:5000;background:#e3e4e5;}
#container.toggled #page{position:relative;margin-right:0}}

.logo-cn{position:absolute;width:53px;height:40px;left:35px;top:0;}
.logo-ex{position:absolute;width:50px;height:40px;left:0;top:0;}

